#comenzar{
    width: 100%;
}

img{
    padding: 5px;
    height: 150px;
}

.fondo-imagenes{
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: 150px;
}

.oculto{
    display: none;
}

.centrar{
    text-align: center;
}

#cartas{
    text-align: center;
    padding-top: 25px;
    width: 800px;
}

#visor-tiempo, #estado{
    height: 80%;
}

